* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #333; /* Темный фон для всего сайта */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Центрируем содержимое, но не по вертикали */
    text-align: center;
    padding: 0;
    margin: 0;
}

#crypto-addresses {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.crypto-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
}

.crypto-item span {
    margin-right: 10px;
    font-weight: bold;
}

.crypto-item input {
    width: 100%;
    max-width: 250px;
    background: #444;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    margin-right: 10px;
    text-align: center;
}

.crypto-item input:focus {
    outline: none;
    border-color: #888;
}

#crypto-addresses {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #222;
    animation: slide-down 0.3s ease-out; /* Анимация появления */
}

.crypto-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
}

.crypto-item span {
    margin-right: 10px;
    font-weight: bold;
}

.crypto-item input {
    width: 100%;
    max-width: 250px;
    background: #444;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    margin-right: 10px;
    text-align: center;
}

.copy-button {
    background-color: transparent;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    color: #fff;
    transition: color 0.3s, transform 0.2s;
}

.copy-button i {
    pointer-events: none;
}

.copy-button:hover {
    transform: scale(1.2);
    color: #76c8af;
}

.copy-button.success i {
    color: #4caf50; /* Зеленый цвет для галочки */
}

/* Анимация выпадения */
@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.container {
    background-color: transparent;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Контейнер выравниваем сверху */
    width: 100%;
    max-width: 600px; /* Ограничиваем ширину контейнера */
    height: 100%; /* Контейнер будет растягиваться по высоте */
    margin-top: 20px; /* Добавляем небольшой отступ сверху */
}

/* Секция с фото и именем */
.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Меньше отступа, чтобы не было пустоты */
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #e0e0e0;
    margin-right: 20px;
}

.profile-info h1 {
    font-size: 2.5em;
    color: #fff;
}

.profile-info p {
    font-size: 1.2em;
    color: #ddd;
    margin-top: 10px;
}

/* Секция с материальной поддержкой */
.support {
    margin-top: 30px;
    width: 100%;
}

.support h2 {
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 10px;
}

.support-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.support-button {
    display: flex;
    align-items: center;  /* Центрируем содержимое по вертикали */
    justify-content: center;  /* Центрируем содержимое по горизонтали */
    padding: 12px 25px;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    color: #000;
    font-size: 1.2em;
    transition: 0.3s;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-sizing: border-box;
}



.support-button.yandex {
    background-color: #ffe130; /* Ярко-оранжевый для Яндекс Чаевых */
}

.support-button.donation {
    background-color: #000; /* Тёмный фон для DonationAlerts */
    color: #fff; /* Белый текст для DonationAlerts */
}

.support-button.usdt {
    background-color: #16192a; /* Зелёный цвет для USDT */
    color: #fff;
}

.support-button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.support-logo {
    width: 40px;  /* Увеличиваем картинку */
    height: 40px; /* Увеличиваем картинку */
    margin-right: 10px; /* Отступ между картинкой и текстом */
}

.support-button summary {
    display: flex;
    align-items: center;  /* Центрируем элементы по вертикали */
    justify-content: center; /* Центрируем содержимое по горизонтали */
}

.support-button summary::marker {
    display: none;  /* Убираем стандартный маркер (треугольник) */
}

/* Иконка треугольника */
.support-button summary:after {
    content: '\25BC';  /* Треугольник (стрелка вниз) */
    font-size: 1.5em;
    margin-left: 10px; /* Отступ от текста до стрелки */
    transition: transform 0.3s ease; /* Анимация при раскрытии */
}

.support-button[open] summary:after {
    transform: rotate(180deg); /* Поворот стрелки при раскрытии */
}

/* Секция с кнопками соцсетей */
.social-links {
    margin-top: 30px;
    width: 100%;
}

.social-links h2 {
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 10px;
}

.social-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center; /* Центрируем контент по горизонтали */
    padding: 12px 25px;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    color: black;
    font-size: 1.1em;
    transition: 0.3s;
    width: 100%; /* Ширина кнопок */
    max-width: 400px; /* Максимальная ширина для кнопок */
    text-align: center;
    box-sizing: border-box;
}

.social-button .social-logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.social-button.twitch {
    background-color: #9146ff;
}

.social-button.youtube {
    background-color: #ff0000;
}


.social-button.tiktok {
    background-color: #fff;
    color: #000;
}

.social-button.telegram {
    background-color: #000;
    color:#fff;
}

.social-button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.referral {
    margin-top: 15px;
    text-align: center; /* Центрирует текст внутри блока */
    color: #fff;
    display: flex; /* Используем flexbox для выравнивания */
    flex-direction: column; /* Размещаем элементы в колонку */
    align-items: center; /* Центрируем кнопку по горизонтали */
}

.referral p {
    font-size: 1.2em; /* Размер текста синхронизирован с остальным контентом */
    margin-bottom: 10px; /* Отступ от текста до кнопки */
}

.social-button.referral {
    background-color: #ffe130; /* Цвет кнопки */
    color: #000; /* Белый текст */
    padding: 8px 20px; /* Уменьшено вертикальное и горизонтальное заполнение */
    margin: 10px; /* Отступ вокруг кнопки */
    text-decoration: none; /* Убираем подчеркивание */
    border-radius: 5px; /* Закругленные края */
    display: inline-flex; /* Используем inline-flex для управления содержимым */
    align-items: center; /* Центровка по вертикали */
    font-size: 1em; /* Размер текста */
    width: 100%; /* Растягиваем кнопку по ширине */
    max-width: 400px; /* Ограничение по максимальной ширине */
    transition: 0.3s; /* Плавная анимация */
    box-sizing: border-box; /* Учитываем паддинги в размере кнопки */
}

.social-button.referral .social-logo {
    width: 25px; /* Размер иконки */
    height: 25px;
    margin-right: 10px; /* Расстояние между иконкой и текстом */
}

.social-button.referral:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}







/* Текст внизу страницы */
.footer {
    margin-top: 40px;
    color: #fff;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer p {
    margin-bottom: 10px;
}

.footer a {
    color: #e4405f; /* Цвет ссылки */
    text-decoration: none;
}
